body{
    background-image: url("/Assets/Image/BackGround.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    font-size: 60px;
    font-family: "Inter", sans-serif;
    color: white;
}

p{
    font-size: 25px;
    font-family: "Inter", sans-serif;
    color:lightgrey;   
}

img[src*="Twitter.svg"]{
    filter: brightness(0) invert(1);
}

img[src*="Instagram.svg"]{
    filter: brightness(0) invert(1);
}

img[src*="Facebook.svg"]{
    filter: brightness(0) invert(1);
}

img[src*="LinkedIn.svg"]{
    filter: brightness(0) invert(1);
}